body{
    background:#eef3ff;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border:none;
    border-radius:20px;
}

h1{
    font-weight:bold;
}

.score{
    font-size:35px;
    font-weight:bold;
    color:#0d6efd;
    text-align:center;
    margin-bottom:20px;
}

.skill{
    display:inline-block;
    padding:8px 15px;
    margin:5px;
    border-radius:25px;
    background:#0d6efd;
    color:white;
}

pre{
    background:#f8f9fa;
    padding:20px;
    border-radius:15px;
    white-space:pre-wrap;
}